@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    font-family: 'Helvetica Neue', sans-serif;
    color: "Grey";
}

.Embed-container {
    height: 500px;
    width: 100%;
}

.animate-fade-in {
    animation: fade-in 0.3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.overlay-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 51;
}
