@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Helvetica Neue', sans-serif;
    color: "Grey";
}

.Embed-container {
    height: 500px;
    width: 100%;
}